@import "reset.css";

header {
    background: #8ab65e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    margin: 0 10px;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.navigation-item {
    margin: 0 10px;
}

.navigation-item a {
    text-decoration: none;
    color: #000000;
}

main {
    font-size: 16px;
    padding: 0 2em;
}

.items-container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* https://dev.to/stel/a-little-trick-to-left-align-items-in-last-row-with-flexbox-230l */
}

.item {
    width: 100px;
    height: 150px;
}

.card {
    width: 18rem;
    background: #9fb8e7;
    /* margin: 20px 20px; */
}

.card-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    margin: 10px 10px;
}

/*maybe flex is not needed there*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #8ab65e;
}

.product-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;

    margin: 1rem;
}

.product-form label {
    text-align: right;
    grid-column: 1;
}

.product-form input,
.product-form textarea {
    grid-column: 2;
}