.slider {
    background: #b9b9b9;
    max-width: 45rem;
    height: 15rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; /* 50rem; */

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1s;
}

/* Only for images that have different size than slide */
.slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-title {
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    z-index: 20;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 0.7);

    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.slider-btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    font-size: 3.25rem;
    cursor: pointer;
    vertical-align: middle;
}

.slider-btn-left {
    left: 10%;
    transform: translate(-50%, -50%);
}

.slider-btn-right {
    right: 10%;
    transform: translate(50%, -50%);
}

.dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dots-dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    /* Only necessary when overlying images */
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7);
}

.dots-dot:last-child {
    margin: 0;
}

.dots-dot-active {
    background-color: rgba(0, 0, 0, 1);
}